body {
    color: white;
}

.title {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
    /* opacity: 1; */
}

.home_section {
    position: relative;

    display: flex;
    justify-content: center;
    flex-direction: column;

}

.home-title {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    text-align: center;
}

.main-img {
    width: 100%;
    opacity: 1;

}

.card_item {
    text-align: center;
}

/* Стили баллуна */
.popover {
    display: block;
}
.popover .close {
    position: absolute;
    right: 5px;
    top: 1px;
}


.balloon {
    /* display: flex; */
    /* justify-content: space-between; */
    font-size: 15px;
}

td span {
    color: rgb(255, 115, 0);
}


.balloon_title {
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}



td {
    border: 1px solid black;
    padding: 5px;
}

.ballon_item {
    display: flex;
}


.form-block {
    flex-direction: column;
    justify-content: center;
    
}

.form-block h1, button {
    display: flex;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    /* text-align: center; */

    justify-content: center;
}

.login-btn {
    display: flex; 
    justify-content: center;
    text-align: center;
}

.customControl {
    display: flex;
    justify-content: space-between;
    color: white;
    
}

.section_crime {
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap; */
    text-align: center;
}


.customControl span {
    display: flex;
    padding: 3% 5%;
    white-space: nowrap;
}

#color1 {
    background-color: #FFA07A;
}

#color2 {
    background-color: #FF8C00;
}

#color3 {
    background-color: #FF6347;
}

#color4 {
    background-color: #FF0000;
}



