body {
    color: white;
}

.title {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
    /* opacity: 1; */
}

.home_section {
    position: relative;

    display: flex;
    justify-content: center;
    flex-direction: column;

}

.main-img {
    width: 100%;
    opacity: 1;

}

.card_item {
    text-align: center;
   
}








